# Test ve Kurulum Dosyaları
test_db.py
seed_data.py

# Makine Öğrenmesi Eğitim Dosyaları
train_model.py


# Python Sanal Ortam (Kesinlikle İçeri Alınmamalı)
.venv/
venv/
env/

# Python Geçici Dosyaları 
__pycache__/
*.pyc
*.pyo
*.pyd

# Çevresel Değişkenler ve Gizli Dosyalar
.env
.git/
.gitignore